<div class="header">
  <h2>Categorias</h2>
  <dx-button text="Crear" type="default" icon="add" (onClick)="showPopup()">
  </dx-button>
</div>

<div class="container content-block">
  <dx-data-grid class="dx-card content-block" keyExpr="id" width="100%" [dataSource]="categoryServices"
    [showBorders]="true" [columnAutoWidth]="true">
    <!-- opciones de la tabla -->

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <!-- <dxo-editing [allowUpdating]="true" [allowDeleting]="true"></dxo-editing> -->

    <!-- Columnas -->
    <dxi-column dataField="id" dataType="number" alignment="left"></dxi-column>
    <dxi-column dataField="name" dataType="string" alignment="left"></dxi-column>

    <!-- botones de accion -->
    <dxi-column type="buttons" alignment="left">
      <dxi-button name="edit" [visible]="true" [onClick]="editCategoryService">
      </dxi-button>
      <dxi-button name="delete" [visible]="true" [onClick]="deleteCategoryService">
      </dxi-button>
    </dxi-column>

    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [visible]="true"></dxo-pager>
  </dx-data-grid>

  <app-popup [(visible)]="popupVisible" [width]="400" [height]="300" title="Categoria">
    <app-category-service-form [categoryService]="categoryService" (onSave)="saveCategoryService($event)"
      (onCancel)="closePopup()"></app-category-service-form>
  </app-popup>
</div>