<div class="container">
  <dx-form id="form" [formData]="package" labelLocation="top" [colCount]="1">
    <dxi-item dataField="name" editorType="dxTextBox">
      <dxo-label text="Nombre"></dxo-label>
      <dxi-validation-rule
        type="required"
        message="El nombre de la actividad es obligatorio"
      >
      </dxi-validation-rule>
    </dxi-item>
  </dx-form>
  <div class="buttons">
    <dx-button text="Guardar" type="success" (onClick)="save()"></dx-button>
    <dx-button text="Cancelar" type="danger" (onClick)="cancel()"></dx-button>
  </div>
</div>
